
body {
  margin: 0;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
}

/* MAKE EVERYTHING USE BORDER BOX */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header, section, nav, main, article {
  display: block;
  width: 100vw;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #333;
}

section {
  background-color: #464E47;
  color: white;
}

header {
  background-color: #F06060;
  color: white;
}

article {
  background-color: #eee;
  color: #333;
}

.bg-blue {
  background-color: #8CBEB2;
}

.bg-lightred {
  background-color: #A07178; 
}

.bg-lightbrown {
  background-color: #F3B562;
}

.text-white {
  color: white;
}
